<!DOCTYPE html>
<html>
<head>
    <title>Space Hub</title>
    <link rel="stylesheet" href="../public/css/lab_css.css"
</head>  
    <div class="sidenav">
        <a href="../index.html">Home Page</a>
        <a href="../books.html">Books</a>

</div>