<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../public/css/lab_css.css">
        <title>Space Library</title>
    </head>
    <body>
       <!-- Side navigation -->
        <div class="sidenav">
            <a href="../">Homepage</a>
            <a href="../books.html">Books</a>
        </div>
        <br>
        <div class="title">
            <center>
                <H1>Space Hub</H1>
            </center>
        </div>
        <br>