<% params.forEach(params => 
    { %>
        <div class="tables">
            <table>
                <tr>
                    <td><a href="./books/<%- params._id %>"><img src="../public/images/<%- params.picture %>" id="p1" style="width:300px;height:300px; "></a></td>
                    <td><a href="./books/<%- params._id %>"><%- params.name %></a></td>
                </tr>
            </table>
        </div>
        <br>
    <% });  
%>
