    <div class="book">
        <img src="../public/images/<%- book.picture %>" id="p3" style="width:600px;height:600px; margin-left: 170px;">
    </div>   
    <div class="summary">
        <body>
            <h1><%- book.name %></h1>
            <p><%- book.summary %></p>
            <p><%- book.author %></p>
        </body>
    </div>  